page-change-password {
  ion-icon {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.3rem;
    text-align: center;
  }

  .password-validate {
    margin: 0 1.6rem;

    & > div {
      margin: 3px;
      font-family: 'monserrat500';
    }

    & > div:first-child {
      font-family: 'monserratRegular';
    }
  }

  .content {
    background-color: $pf-mobile-light-grey;
  }

  .phone-header {
    font-family: 'monserrat600',sans-serif !important;
    background-color: $header-color;
    margin-bottom: 1.2rem;
    height: 4.6rem;
  }

  .backButton {
    background-color: $header-color;
    margin: 1.1rem;
  }

  #change-password-title {
    .toolbar-title {
      text-align: left;
      margin-left: 1.5rem;
      font-size: 1.6rem;
      letter-spacing: 1px;
      font-weight: 600;
      line-height: 4.9rem;
      color: white;
    }
  }

  .password-item {
    margin-bottom: 0;
  }

  .phoneNumber-item.item.item-block.item-input.item-label-stacked {
    background-color: $pf-mobile-light-grey;

    & > .item-inner {
      padding-right: 0;
    }
  }

  .label {
    font-size: 1.2rem;
    font-family: 'monserratRegular',sans-serif !important;
    margin-bottom: 0.4rem;
  }

  .input {
    height: 5rem;
    background-color: white;
  }

  .text-input {
    height: 100%;
    font-size: 1.8rem !important;
    font-family: 'monserratRegular',sans-serif !important;
    margin: 0.1rem 0 0 1.5rem !important;
  }

  .label-row {
    margin: 0 16px;
  }

  .update-button {
    height: 5rem;

    & > .button-inner {
      color: #FFFFFF;
      font-family: 'monserrat500',sans-serif !important;
      letter-spacing: 1px;
      text-align: center;
    }
  }

  .phone-number-update-button {
    margin-top: 1rem;
  }

  .password-match {
    margin-left: 2rem;
    color:red;
  }
}
