page-explore {
    .scroll-content {
        font-family: Montserrat;
        background: #f4f4f4;
    }
    ion-header {
        .toolbar-background-md {
            background-color: $header-color;
            letter-spacing: 0.2rem;
        }
        ion-title {
            .toolbar-title-md {
                color: #FFFFFF;
                font-weight: 600;
                font-size: 16px;
                letter-spacing: 2px;
                padding-left: 0!important;
                line-height: 28px;
            }
        }
        ion-icon {
            font-size: 28px;
            color: #FFFFFF;
            letter-spacing: 0;
        }
    }
    ion-segment {
        background-image: linear-gradient(-180deg, #0F2D52 0%, #2AA1E1 100%);
        border-top: #2BA1E1 1px solid;
        ion-segment-button {
            &:first-child {
                min-width: 250px;
            }
            font-size: 14px!important;
            color: #FFFFFF!important;
            letter-spacing: 0.5px;
            line-height: 50px!important;
            &.segment-activated {
                text-decoration: underline;
            }
        }
    }
    ion-item {
        padding-left: 0!important;
        background: #FFFFFF;
        border: 1px solid rgba(208, 208, 208, 0.50)!important;
        ion-grid {
            padding-left: 20px!important;
            ion-col {
                padding-left: 0!important;
                letter-spacing: 0;
                img {
                    width: 35px;
                    height: 30px;
                }
                h4 {
                    font-size: 16px !important;
                    color: #0F2D52;
                    font-weight: 600!important;
                }
                p {
                    font-size: 13px !important;
                    color: #282828!important;
                }
                ion-icon[name="arrow-forward"] {
                    color: $pf-mobile-light-blue-alt;
                    font-size: 24px;
                    float: right;
                    line-height: 50px;
                    &:after {
                        content: "";
                        display: block;
                        clear: both;
                    }
                }
            }
        }
    }
}